Order-Manager/Service-Stub/src/main/resources/OrderProcessingManager.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://manager.order.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://model.manager.order.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://manager.order.carbon.wso2.org">
    <wsdl:documentation>OrderProcessingManager</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model.manager.order.carbon.wso2.org/xsd">
            <xs:complexType name="Item">
                <xs:sequence>
                    <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" nillable="true" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://model.manager.order.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://manager.order.carbon.wso2.org">
            <xs:import namespace="http://model.manager.order.carbon.wso2.org/xsd"/>
            <xs:element name="getOrders">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOrdersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="item" nillable="true" type="ax22:Item"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addOrderRequest">
        <wsdl:part name="parameters" element="ns:addOrder"/>
    </wsdl:message>
    <wsdl:message name="getOrdersRequest">
        <wsdl:part name="parameters" element="ns:getOrders"/>
    </wsdl:message>
    <wsdl:message name="getOrdersResponse">
        <wsdl:part name="parameters" element="ns:getOrdersResponse"/>
    </wsdl:message>
    <wsdl:portType name="OrderProcessingManagerPortType">
        <wsdl:operation name="addOrder">
            <wsdl:input message="ns:addOrderRequest" wsaw:Action="urn:addOrder"/>
        </wsdl:operation>
        <wsdl:operation name="getOrders">
            <wsdl:input message="ns:getOrdersRequest" wsaw:Action="urn:getOrders"/>
            <wsdl:output message="ns:getOrdersResponse" wsaw:Action="urn:getOrdersResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderProcessingManagerSoap11Binding" type="ns:OrderProcessingManagerPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addOrder">
            <soap:operation soapAction="urn:addOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getOrders">
            <soap:operation soapAction="urn:getOrders" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrderProcessingManagerSoap12Binding" type="ns:OrderProcessingManagerPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addOrder">
            <soap12:operation soapAction="urn:addOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getOrders">
            <soap12:operation soapAction="urn:getOrders" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OrderProcessingManagerHttpBinding" type="ns:OrderProcessingManagerPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addOrder">
            <http:operation location="addOrder"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="getOrders">
            <http:operation location="getOrders"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderProcessingManager">
        <wsdl:port name="OrderProcessingManagerHttpsSoap11Endpoint" binding="ns:OrderProcessingManagerSoap11Binding">
            <soap:address location="https://10.100.5.139:9443/services/OrderProcessingManager.OrderProcessingManagerHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderProcessingManagerHttpsSoap12Endpoint" binding="ns:OrderProcessingManagerSoap12Binding">
            <soap12:address location="https://10.100.5.139:9443/services/OrderProcessingManager.OrderProcessingManagerHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OrderProcessingManagerHttpsEndpoint" binding="ns:OrderProcessingManagerHttpBinding">
            <http:address location="https://10.100.5.139:9443/services/OrderProcessingManager.OrderProcessingManagerHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>